### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(file_to_load)

In [4]:
#take a look at purchase_df
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
purchase_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [6]:
purchase_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [7]:
purchase_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

## Player Count

#Display the total number of players

In [8]:
#calculate total_players
total_players = len(purchase_df["SN"].value_counts())
#create df with total_players_counts 
total_players_count = pd.DataFrame({"Total Players": [total_players]})
total_players_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
#calculate number_of_unique_items using .unique() 
number_of_unique_items = len(purchase_df["Item ID"].unique())
number_of_unique_items

183

In [54]:
#calculate average_price using .mean()
average_price = (purchase_df["Price"].mean())
average_price

3.050987179487176

In [55]:
# calcualte total number of purchases using .count()
tot_no_purchases = (purchase_df["Purchase ID"].count())
tot_no_purchases

780

In [56]:
#calculate tot_rev using .sum() 
tot_rev = (purchase_df["Price"].sum())
tot_rev

2379.77

In [57]:
#create purchase_summary_df df with above calculations
purchase_summary_df = pd.DataFrame({"Number of Unique Items": [number_of_unique_items],
                                   "Average Price": [average_price],
                                   "Number of Purchases": [tot_no_purchases],
                                   "Total Revenue": [tot_rev]})
#format df summary table to include $ and two decimal points
purchase_summary_df.style.format({'Average Price': "${:,.2f}",
                           'Total Revenue': "${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [19]:
#group purchase_df by Gender using .groupby
gender_demographics = purchase_df.groupby("Gender")
#gender_demographics.head()
#calulate total_gender_demographics using .nunique and SN 
total_gender_demographics = gender_demographics.nunique()["SN"]
#total_gender_demographics.head()
#calculate gender percentages by gender (total_gender_demographics/total_players)
percent_players = total_gender_demographics/total_players
#percent_players.head()
#create gender_demographics_df df with above calculations  
gender_demographics_df = pd.DataFrame({"Player Percentages": percent_players,
                                   "Total Count": total_gender_demographics})
gender_demographics_df
#format gender_demographics_df df summary table to include % and two decimal points
gender_demographics_df.sort_values(["Total Count"], 
                                ascending =False).style.format({"Player Percentages":'{:.2%}'})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
#calculate total purchases by gender using .count() 
purchase_count = gender_demographics["Purchase ID"].count()
purchase_count.head()
#calculate avg_purchase_count by gender using .mean()
avg_purchase_count=gender_demographics["Price"].mean()
avg_purchase_count.head()
#calculate total_purchase_values by gender using .sum()
total_purchase_values = gender_demographics["Price"].sum()
total_purchase_values.head()
#calculate avg_total_purchase_gender by gender: total_purchase_values/total_gender_demographics
avg_total_purchase_gender = total_purchase_values/total_gender_demographics
avg_total_purchase_gender.head()
#create gender_demographics df for above calculations
gender_demographics = pd.DataFrame({"Purchase Count": purchase_count,
                                   "Average Purchase Price": avg_purchase_count,
                                   "Total Purchase Value": total_purchase_values,
                                   "Avg Total Purchase per Person": avg_total_purchase_gender})
gender_demographics.head()
#format gender_demographics summary table to include $ and two decimal points
gender_demographics.style.format({"Average Purchase Price": "${:,.2f}",
                                 "Total Purchase Value": "${:,.2f}",
                                 "Avg Total Purchase per Person": "${:,.2f}"
                                 })

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [20]:
#create bins for age groups
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
#categorize the existing players using bins and pd.cut() from purchase_df
purchase_df["Age Group"] = pd.cut(purchase_df["Age"], age_bins, labels=age_groups)
purchase_df.head()
#add age_groups_df
age_groups_df = purchase_df.groupby("Age Group")
age_groups_df.head()
#calculate total_age_groups and percent_age_groups
total_age_groups=age_groups_df["SN"].nunique()
percent_age_groups=total_age_groups/total_players  
#create new age_demographics df from above calculations
age_demographics_df = pd.DataFrame({"Total Count": total_age_groups,
                                  "Percentage of Players": percent_age_groups
                                   })
age_demographics_df
#format age_demographics_df summary table to include % and two decimals
age_demographics_df.style.format({"Percentage of Players": '{:.2%}'})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [22]:
#calculate purchase_counts 
purchase_count=age_groups_df["Purchase ID"].count()
purchase_count
#calculate average_purchase_price
average_purchase_price=age_groups_df["Price"].mean()
average_purchase_price
#calculate total_purchase_value
total_purchase_value=age_groups_df["Price"].sum()
total_purchase_value
#calculate vg_total_purchase_person (total_purchase_value/total_age_groups)
avg_total_purchase_person=total_purchase_value/total_age_groups
avg_total_purchase_person
#create age_demographics_df df with above calculations
age_demographics_df=pd.DataFrame({"Purchase Count": purchase_count,
                                 "Average Purchase Price": average_purchase_price,
                                 "Total Purchase Value": total_purchase_value,
                                 "Avg Total Purchase per Person": avg_total_purchase_person
                                 })
age_demographics_df
#style and format age_demographics_df summary table to include $ and two decimal points 
age_demographics_df.style.format({"Average Purchase Price": "${:,.2f}",
                                 "Total Purchase Value": "${:,.2f}",
                                 "Avg Total Purchase per Person": "${:,.2f}"
                                 })

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [23]:
#group data by screenname 
top_spenders = purchase_df.groupby("SN")
top_spenders.head()
#calculate spender_purchase_count by using .count()
spender_purchase_count = top_spenders["Purchase ID"].count()
spender_purchase_count.head()
#calculate spender_avg_purchase_price by using .mean()
spender_avg_purchase_price = top_spenders["Price"].mean()
spender_avg_purchase_price.head()
#calculate spender_total_purchase_value by suing .sum
spender_total_purchase_value = top_spenders["Price"].sum()
spender_total_purchase_value.head()
#create top_spenders_df df with above calculations
top_spenders_df=pd.DataFrame({"Purchase Count": spender_purchase_count,
                            "Average Purchase Price": spender_avg_purchase_price,
                            "Total Purchase Value": spender_total_purchase_value
                            })
top_spenders_df.head()
#sort top_spenders_df df in descending order
sorted_top_spenders=top_spenders_df.sort_values(["Total Purchase Value"], ascending=False).head()
#format sorted_top_spenders summary table to include $ and two decimal points 
sorted_top_spenders.style.format({"Average Purchase Price": '${:,.2f}',
                                 "Total Purchase Value": '${:,.2f}'
                                 })

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [24]:
#create most_popular_data df to include ID, Item Name, and Item Price columns
most_popular_data=purchase_df[["Item ID", "Item Name", "Price"]]
most_popular_data.head()
#group by ID and Item Name
grouped_most_popular_data=most_popular_data.groupby(["Item ID", "Item Name"])
#calculate popular_purchase_count .count()
popular_purchase_count=grouped_most_popular_data["Price"].count()
popular_purchase_count.head()
#calculate popular_purchase_value .sum()
popular_purchase_value=grouped_most_popular_data["Price"].sum()
popular_purchase_value.head()
#calculate popular_item_price (popular_purchase_value/popular_purchase_count)
popular_item_price = popular_purchase_value/popular_purchase_count
popular_item_price.head()
#create most_popular_df
most_popular_df=pd.DataFrame({"Purchase Count":popular_purchase_count,
                             "Item Price":popular_item_price,
                             "Total Purchase Value":popular_purchase_value})
most_popular_df.head()
#sort most_popular_df in descending order
sorted_most_popular=most_popular_df.sort_values(["Purchase Count"], ascending=False).head()
 
#format sorted_most_popular summary table to include $ and two decimal points
sorted_most_popular.style.format({"Item Price": '${:,.2f}',
                             "Total Purchase Value": '${:,.2f}'
                                })

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [25]:
#sort above table by Total Purchase Value in descending order
most_profitable_items = most_popular_df.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()

#format most_profitable_items summary table to include $ and two decimals 
most_profitable_items.style.format({"Item Price": '${:,.2f}',
                                   "Total Purchase Value": '${:,.2f}'})